img/*
!img/.gitkeep
*.sw*
output/html/img/*
!output/html/img/.gitkeep
output/html/thumbnails/*
!output/html/thumbnails/.gitkeep
output/*.html
output/*.css
__pycache__/*

templates/img/*
templates/rsc/ClearSans-Light.woff
output/img/*
!output/img/.gitkeep
output/thumbnails/*
!output/thumbnails/.gitkeep
