img/*
!img/.gitkeep
*.sw*
*.jpg
output/html/img/*
!output/html/img/.gitkeep
output/html/thumbnails/*
!output/html/thumbnails/.gitkeep
output/*.html
output/*.css
__pycache__/*

templates/img/*
templates/rsc/ClearSans-Light.woff
output/i/img/*
!output/i/img/.gitkeep
output/thumbnails/*
!output/thumbnails/.gitkeep
output/i/*.html
output/rsc/*
!output/rsc/.gitkeep
