body{
  width:100%;
  background-color:#222;
  color: #666;
  font-family: Courier, sans-serif;
  text-align: center;
}

.main {
  width: 95%;
  margin: auto;
}

h1 {
  font-size: 5vw;
  width:100%;
  text-align:center;
  /*font-family: Georgia, serif;*/
  font-family: Courier, sans-serif;
  font-size: 100px;
}

h2 {
  font-size: 30px;
  width: 95%;
  text-align:left;
  color: #aaa;
  margin:0;

  padding-left: 50px;
}

h3 {
  font-size: 30px;
  min-height: 36px;
  width: 95%;
  text-align:left;
  color: #aaa;
  margin:0;
  margin-bottom: 20px;
  padding-left: 50px;
}

.subs {
  color: #666;
}

.desc {
  /*min-height: ;*/
  color: #aaa;
  font-size: 20px;
  margin-bottom: 20px;
  min-height: 30px;
}

a {
  text-decoration: none;
}

img {
  height:15vw;
  width:auto;
}

#gallery {
  text-align: center;
  width: 100%;
  /*margin: 0;*/
}

.image {
  /* width:33%; */
  margin:auto;
  display: inline-block;
}

.pic {
  width: 100%;
  object-fit: contain;
}


.accent {
  color: #307c53;
}

.main_directory {
  font-size: 60px;
}