@font-face {
  font-family: 'ClearSans-Light';
  src: url('rsc/ClearSans-Light.eot'); /* IE9 Compat Modes */
  src: url('rsc/ClearSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('rsc/ClearSans-Light.woff') format('woff'), /* Modern Browsers */
       url('rsc/ClearSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('rsc/ClearSans-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
  /*text-align: center;*/
  width: 100%;
  margin: 0;
}

#content {
  margin: auto;
  width: 80%;
}

h1 {
  margin-bottom: 5px;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  letter-spacing: -4px;
  font-size: 6px;

}


a {
  font-family: ClearSans-Light, Courier, sans-serif;
  text-decoration: none;
  letter-spacing: -1px;
  font-size: 1em;
  color: #333;
}

.menu {
  text-align: left;
}

.main_menu {
  /* text-align: center;*/
}

.category_menu {
  display: inline-block;
}

.category_item {
  display: inline-block;
  max-width:15em;
  text-decoration: none;
  text-align: left;
  color: #555;
  margin: 0;
}

ul {
  margin-top: 0;
  padding-left: 0;
}

li {
  list-style-type:none;
}

.menu_item {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 1em;
  color: #000;
}

.sub_menu_item {
  margin-left: 0.5em;
  font-size: 1.2em;
}

.emphasis {
  font-size: 2em;
  text-decoration: underline;
  margin-right: 0.1em;
}

/*https://codepen.io/nicooprat/pen/KGzRaJ*/
.images {
  --min-width: 25%;
  --row-height: 20vh;
  --max-row-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  margin: 0.25rem;
}

.images > a {
  --ratio: calc(var(--w) / var(--h));
  flex-grow: calc(var(--ratio) * 100);
  flex-basis: calc(var(--ratio) * var(--row-height));
  margin: 0.25rem;
  min-width: var(--min-width);
}

.images > a > img {
  display: block;
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  max-height: var(--max-row-height);
  object-fit: cover;
}

.dot {
  margin-right: 5px;
}

.spacer {
  border-bottom: 3px solid #000;
}

#image {
  /*max-height: 30vw;*/
  text-align: center;
}

img {
  max-height:85vh;
  max-width: 80vw;
}

#title {
  float: left;
}

#name {
  text-align: left;
  font-family: ClearSans-Light, Courier, sans-serif;
  margin-right: 10px;
  font-size: 1.7em;
}

a {
  font-size: 1em;
  margin-right: 10px;
  color: #999;
}

.description {
  height: 100px;
}
