<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="main.css">
  <meta charset="UTF-8">
  <title>Art.nemecl.eu</title>
</head>
<body>
  <div id = "content">
    <!--<h1  id = "spacer">(oui ceci est un test)</h1>-->
    <div class = "menu main_menu">
      <a  class = "menu_item" href="https://nemecl.eu">·Home</a>
      <a  class = "menu_item" href="https://blog.nemecl.eu">·Blog</a>
      <a  class = "menu_item emphasis" href="https://art.nemecl.eu">Art</a>
      <a  class = "menu_item" href="https://nemecl.eu/contact">·Contact</a>

    </div>
    <div class = "spacer"></div>
    <div class = "menu category_menu">
      <span class = "category_item">
        <ul>
          <li>
            <a class = "category_item" href="https://art.nemecl.eu/Photography">·Photography</a>
          </li>
          <li>
            <a href = "https://art.nemecl.eu/landscape" class = "sub_menu_item">Landscape</a>
          </li>
          <li>
            <a href = "https://art.nemecl.eu/travel" class = "sub_menu_item">Travel</a>
          </li>
          <li>
            <a href = "https://art.nemecl.eu/urban" class = "sub_menu_item">Urban</a>
          </li>
          <li>
            <a href = "https://art.nemecl.eu/analog" class = "sub_menu_item">Analog</a>
          </li>
        </ul>
      </span>
      <span class = "category_item">
        <ul>
          <li>
            <a class = "category_item" href="https://art.nemecl.eu/Photography/Drawings">·Drawings</a>
          </li>
          <li>
            <a href = "https://art.nemecl.eu/digital" class = "sub_menu_item">Digital</a>
          </li>
          <li>
            <a href = "https://art.nemecl.eu/traditional" class = "sub_menu_item">Traditional</a>
          </li>
        </ul>
      </span>
      <span class = "category_item">
        <ul>
          <li>
            <a class = "category_item" href="https://art.nemecl.eu/Archives">·Archives</a>
          </li>
        </ul>
      </span>
    </div>
    <div class = "images">
      {% for image in images %}
        <a href = "{{ image["image"] }}" style="--w: {{ image["thumb_width"] }}; --h: {{ image["thumb_width"] }}"><img src = "thumbnails/{{ image["thumb"] }}"/></a>{% endfor %}
    </div>
  </div>
</body>
