<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="main.css">
  <meta charset="UTF-8">
  <title>Art.nemecl.eu</title>
</head>
<body>
  <div id = "content">
    <!--<h1  id = "spacer">(oui ceci est un test)</h1>-->
    <div class = "menu main_menu">
      <a  class = "menu_item" href="https://nemecl.eu">·Home</a>
      <a  class = "menu_item" href="https://blog.nemecl.eu">·Blog</a>
      <a  class = "menu_item emphasis" href="https://art.nemecl.eu">Art</a>
      <a  class = "menu_item" href="https://nemecl.eu/contact">·Contact</a>

    </div>
    <div class = "spacer"></div>
    <div class = "menu category_menu">
      <span class = "category_item">
        <ul>
          <li>
            <a class = "category_item" href="https://art.nemecl.eu/Photography">·Photography</a>
          </li>
          <li>
            <a href = "https://art.nemecl.eu/landscape" class = "sub_menu_item">Landscape</a>
          </li>
          <li>
            <a href = "https://art.nemecl.eu/travel" class = "sub_menu_item">Travel</a>
          </li>
          <li>
            <a href = "https://art.nemecl.eu/urban" class = "sub_menu_item">Urban</a>
          </li>
          <li>
            <a href = "https://art.nemecl.eu/analog" class = "sub_menu_item">Analog</a>
          </li>
        </ul>
      </span>
      <span class = "category_item">
        <ul>
          <li>
            <a class = "category_item" href="https://art.nemecl.eu/Photography/Drawings">·Drawings</a>
          </li>
          <li>
            <a href = "https://art.nemecl.eu/digital" class = "sub_menu_item">Digital</a>
          </li>
          <li>
            <a href = "https://art.nemecl.eu/traditional" class = "sub_menu_item">Traditional</a>
          </li>
        </ul>
      </span>
      <span class = "category_item">
        <ul>
          <li>
            <a class = "category_item" href="https://art.nemecl.eu/Archives">·Archives</a>
          </li>
        </ul>
      </span>
    </div>
    <div class = "images">
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/13_Scared.jpg"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/Draw together biomécanique.png"/></a>
      <a href = "#" style="--w: 600; --h: 300"><img class = "panorama" src = "img/IMG_0371-Panorama.jpg"/></a>
      <a href = "#" style="--w: 600; --h: 300"><img class = "panorama" src = "img/IMG_0452-Panorama_p.jpg"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img class = "panorama" src = "img/IMG_1155.jpg"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/IMG_1214.jpg"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/IMG_1654.jpg"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/IMG_1841.jpg"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/IMG_2720e.jpg"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/IMG_2766e.jpg"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/IMG_3301.jpg"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/IMG_5468.jpg"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/IMG_5506.jpg"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/IMG_5708e.jpg"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/IMG_6014e.jpg"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/IMG_6123.png"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/IMG_7421.jpg"/></a>
      <a href = "#" style="--w: 500; --h: 300"><img src = "img/IMG_7584.jpg"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/IMG_8061.jpg"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/IMG_8438.jpg"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/IMG_8582.jpg"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/IMG_9146.jpg"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/IMG_9701-Panorama.jpg"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/IMG_9834.jpg"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/IMG_9848.jpg"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/Journey.png"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/KSP polar.png"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/Nemecle0.jpg"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/a0.jpg"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/hazar II.png"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/inktober_2017_3.jpg"/></a>
      <a href = "#" style="--w: 200; --h: 300"><img src = "img/tumblr_nhknr6hipu1u1y5v6o1_500.png"/></a>
    </div>
  </div>
</body>
