<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="rsc/image.css">
  <meta charset="UTF-8">
  <title>{{ title }} — art.nemecl.eu</title>
</head>
<body>
  <div id = "content">
    <div class = "menu main_menu">
      <a class = "menu_item" href="https://nemecl.eu">·Home</a>
      <a class = "menu_item" href="https://blog.nemecl.eu">·Blog</a>
      <a class = "menu_item emphasis" href="https://art.nemecl.eu">Art</a>
      <a class = "menu_item" href="https://nemecl.eu/contact">·Contact</a>
      <a class = "category_item" href="https://art.nemecl.eu/Photography">·Photography</a>
      <a class = "category_item" href="https://art.nemecl.eu/Photography/Drawings">·Drawings</a>
      <a class = "category_item" href="https://art.nemecl.eu/Archives">·Archives</a>
      </span>
    </div>
    <br>
    <div id = "image">
      <img src = "{{ image_link }}"/>
      <br>
      <span id = "title">
        <span id = "name">{{ title }}</span>{% for tag in tags %}<a class = "tags">#{{ tag }}</a>{% endfor %}
        <div class = "description">{{ description }}</div>
      </span>
    </div>
  </div>
</body>
